Q1. Removing duplicates from list

In [ ]:
l=[1,2,3,4,1,3,5]
#o/p: [1,2,3,4,5]

#method1 : Data Type conversion
s=set(l)
x=list(s)
print(x)

[1, 2, 3, 4, 5]

In [ ]:
s=set(l)
print(list(s))

[1, 2, 3, 4, 5]

In [ ]:
print(list(set(l)))

[1, 2, 3, 4, 5]

In [ ]:
#method2: using for loop

a=[]

for i in l:
  if i not in a:
    a.append(i)
print(a)

[1, 2, 3, 4, 5]

Q2. Reverse a string

In [ ]:
#method1

s="data"
print(s[::-1])

atad

In [ ]:
#method2

s="data"
x=""
start = len(s)-1
end=-1
for i in range(start,end,-1):
  x=x+s[i]
print(x)

atad

Q3. Check given string is palindrome or not

In [ ]:
s=input("Please enter the string: ")
if s==s[::-1]:
  print("Given string is palindrome")
else:
  print("Given string is not palindrome")

Please enter the string: malayalam
Given string is palindrome

In [ ]:
s=input("Please enter the string: ")
x=""
start = len(s)-1
end=-1
for i in range(start,end,-1):
  x=x+s[i]
print(x)
if x==s:
  print("Given string is palindrome")
else:
  print("Given string is not palindrome")

Please enter the string: malayalam
malayalam
Given string is palindrome

![image.png]()

In [27]:
s1=input("Enter the string1: ")
s2=input("Enter the string2: ")
s1_len=len(s1)
s2_len=len(s2)
if s1_len==s2_len:
  s1_sorted = sorted(s1)
  s2_sorted=sorted(s2)
  if s1_sorted==s2_sorted:
    print("Given strings are anagrams")
  else:
    print("Given strings are not anagrams")
else:
  print("Given strings are not anagrams")

Enter the string1: abbcd
Enter the string2: abccd
Given strings are not anagrams

In [33]:
from collections import Counter
s1=input("Enter the string1: ")
s2=input("Enter the string2: ")
s1_len=len(s1)
s2_len=len(s2)
if s1_len==s2_len:
  if Counter(s1)==Counter(s2):
    print("Given strings are anagrams")
  else:
    print("Given strings are not anagrams")
else:
  print("Given strings are not anagrams")

Enter the string1: abccd
Enter the string2: abbcd
Given strings are not anagrams

Q5. Factorial of a given number

In [11]:
#for loop

num = int(input("Please enter the number: "))
fact=1
for i in range(num,0,-1):
  fact=fact*i
print(fact)

Please enter the number: 10
3628800

In [14]:
#while loop

num = int(input("Please enter the number: "))
fact=1
while num>0:
  fact=fact*num
  num=num-1
print(fact)

Please enter the number: 10
3628800

In [17]:
#incrementing for loop
num = int(input("Please enter the number: "))
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

Please enter the number: 10
3628800

Q6. Frequency Count

In [23]:
from collections import Counter
l=["a","b","c","a","b"]
print(Counter(l))

Counter({'a': 2, 'b': 2, 'c': 1})

In [25]:
#using dictionary concept
l=[1,2,3,1,2,3]
d={}
for i in l:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{1: 2, 2: 2, 3: 2}

Find largest number

In [5]:
#using max
l=[3,2,5,243,99,1000]
print(max(l))

1000

In [6]:
#using sorted
sorted_l = sorted(l)
print(sorted_l)
print(sorted_l[-1])

[2, 3, 5, 99, 243, 1000]
1000

Find second largest number

In [9]:
#using sorted
l=[200,300,500,700,900,1000,101]
x=sorted(l)
print(x)
print(x[-2])

[101, 200, 300, 500, 700, 900, 1000]
900

In [11]:
#not using inbuilt func/method

l=[200,300,500,700,900,1000,101]

first_larg=-1234
second_larg=-3456

for i in l:
  if i>first_larg:
    second_larg=first_larg
    first_larg=i
  elif i>second_larg:
    second_larg=i
print(second_larg)

900

Two sum

In [19]:
l=[2,3,9,13,1,5]
two_sum=6
length = len(l)
x=False
for i in range(length-1):
  for j in range(i+1,length):
    if l[i]+l[j]==two_sum:
      print(l[i],l[j])
      x=True
      break
if x==False:
  print("No such pair found")

1 5

In [23]:
l=[2,3,9,7,1]
d={}
two_sum=10
for i in range(len(l)):
  if (two_sum-l[i]) not in d:
    d[l[i]]=i
  else:
    print(l[i],two_sum-l[i])

7 3
1 9